<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>Companion</string>
	<key>CFBundleExecutable</key>
	<string>QuendaCompanionMac</string>
	<key>CFBundleIconFile</key>
	<string>Companion</string>
	<key>CFBundleIdentifier</key>
	<string>com.quenda.companion.mac</string>
	<key>CFBundleName</key>
	<string>Companion</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>0.5.8</string>
	<key>CFBundleVersion</key>
	<string>24</string>
	<key>LSMinimumSystemVersion</key>
	<string>14.0</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsLocalNetworking</key>
		<true/>
	</dict>
	<key>NSBonjourServices</key>
	<array>
		<string>_companion._tcp</string>
	</array>
	<key>NSHighResolutionCapable</key>
	<true/>
	<key>NSLocalNetworkUsageDescription</key>
	<string>连接本机 Quenda Gateway，并接受你配对的手机连接。</string>
</dict>
</plist>
